@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: hsla(250, 66%, 75%, 0.2);
}
.container {
    display: flex;
    justify-content: center;
   
}
.teams {
    margin-top: 150px;
    width: 650px;
    height: 400px;
    background-color: hsl(219, 32%, 12%);
    border-radius: 30px;
}
.teams h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content {
    display: flex;
    margin: 80px auto;
    
}
.member {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.member h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.member p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
.member img {
    margin-top: 20px;
    width: 100px;
    height: 115px;
    
}
.member .img {
    display: flex;
    justify-items: center;
    justify-self: center;
    width: 100px;
    background: linear-gradient(180deg, hsla(250, 66%, 75%, 0.5),hsla(250, 66%, 75%, 0.2));
    border-radius: 50px 50px 0 0;
}
